/*
Theme Name: HackerNews
Author: @billz
Author URI: https://github.com/billz
Description: A theme inspired by HackerNews for RaspAP
License: GNU General Public License v3.0
*/

@import url('all.css');

html * {
  font-family: Verdana, Geneva, sans-serif;
  color: #828282;
}

body {
  color: #212529;
}

a:focus, a:hover {
  color: #666;
}

h2 {
  font-size: 2rem !important;
}

h4 {
  font-size: 1.3rem;
  color: #212529;
}

h5.card-title {
  font-size: 1.2rem;
  color: #212529;
}

.card, .modal-dialog {
  border-radius: 3px;
  border-color: #ff6600;
}

.card>.card-header, .modal-header {
  border-color: #ff6600;
  background-color: #ff6600;
  color: #000;
  font-size: 1.0rem;
  font-weight: bold;
  border-radius: unset;
}

.card-header .col {
  color: #212529;
  font-size: 1.0rem;
}

.card-header [class^="fa"], .modal-header [class^="fa"] {
  color: #fff;
  font-size: 1.0rem;
}

.modal-title {
  color: #000;
  font-size: 1.0rem;
}

.modal-content {
  border-radius: 0px;
}

.sidebar-light hr.sidebar-divider {
  padding-top: 0.5rem;
}

ul.nav-tabs, .nav-tabs .nav-link {
  background-color: #f6f6ef;
  border-bottom: 1px solid #dddfeb;
}

.sidebar .nav-item .nav-link {
  padding: 0.6rem;
  margin-left: 0.6rem;
}

.sidebar-light .nav-item.active .nav-link {
  font-weight: 300;
}

#wrapper,#page-wrapper,
#wrapper #content-wrapper,
.nav>li>a,.nav {
  background-color: #fff;
}

.card-body {
  background-color: #f6f6ef;
}

.card-footer {
  background-color: #eee;
}

.alert-success {
  background-color: #d4edda;
}

.btn-primary, .btn-primary:hover {
  color: #828282;
  background-color: #fff;
  border-color: #828282;
}

.btn-warning {
  color: #333;
}

.progress {
  background-color: #eee;
}

.progress-bar {
  color: #eee;
}

.fas.fa-circle {
  font-size: 0.7rem;
}

.logoutput {
  width:100%;
  height:300px;
}

pre.unstyled {
  border-width: 0;
  background-color: transparent;
  padding: 0;
}

.sidebar.toggled .nav-item .nav-link {
  text-align: center;
  padding: .6rem 1rem;
  width: 6.5rem;
}

.sidebar.toggled .nav-item .nav-link span {
  display: none;
} .sidebar .nav-item .nav-link i,
.sidebar .nav-item .nav-link span {
  font-size: 0.9rem;
}

.btn-warning:hover {
    color: #000;
}

.signal-icon .signal-bar {
  background: #ff6600;
}

.btn-card, .btn-card:hover {
  color: #000;
  background-color: #ff6600;
  border-color: #fff;
}

.antenna-pill {
  display: inline-block;
  color: #333;
  padding: .15em .4em;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: .35em;
  font-size: 75%;
  cursor: help;
}

.table-responsive {
  max-height: 30em;
}
